.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  text-align: left;
}

.title p {
  text-align: left;
}

.registerElement {
  display: grid;
  place-items: center;
}

.passwordInput {
  flex: 1 1 50%; /* Each input takes half of the Flex container */
}

.pageContainer {
  height: 100vh; /* Sets the height to full viewport height */
  width: 100%; /* Ensures it takes full width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  place-items: center;
  place-content: center;
  min-height: 99vh;
  margin-top: rem(100);
  margin-left: rem(50);
  margin-right: rem(50);
}
